<div class="auth-container">
  <div class="text-center py-2 mb-3">
    <div class="row justify-content-center">
      <div class="col-8">
        <img src="/assets/logo.svg" class="logo-splash" />
      </div>
    </div>
  </div>
  <h4 class="text-center mb-3">{{ "Sign In" | localize}}</h4>
  <div class="card">
    <div class="card-body">
      <div *ngIf="error.message" class="alert alert-{{ error.type }}" role="alert">
        {{ error.message | localize}}
      </div>
      <form (ngSubmit)="signIn()" role="form">
        <div class="mb-3">
          <label class="small text-secondary" for="email">
            {{ "Email" | localize}}
          </label>
          <input [(ngModel)]="user.email" type="email" class="form-control form-input" [ngClass]="{ 'is-invalid': !user.email && submitted }" id="email" name="email" required />
          <small *ngIf="!user.email && submitted" class="form-text text-danger">
            {{ "This field is required." | localize}}
          </small>
        </div>
        <div class="mb-3">
          <label class="small text-secondary" for="password">
            {{ "Password" | localize}}
          </label>
          <input [(ngModel)]="user.password" type="password" class="form-control form-input" [ngClass]="{ 'is-invalid': !user.password && submitted }" id="password" name="password" required />
          <small *ngIf="!user.password && submitted" class="form-text text-danger">
            {{ "This field is required." | localize}}
          </small>
        </div>
        <button type="submit" class="btn btn-primary d-block w-100 position-relative" [disabled]="signingIn">
          <span [ngClass]="{ 'invisible': signingIn }">{{ "Sign In" | localize}}</span>
          <ng-container *ngIf="signingIn">
            <span class="spinner-border spinner-border-sm btn-spinner" role="status" aria-hidden="true"></span>
            <span class="visually-hidden">{{ "Loading" | localize }} …</span>
          </ng-container>
        </button>
      </form>
    </div>
  </div>
</div>