<div class="auth-container">
  <div class="text-center py-2 mb-3">
    <div class="row justify-content-center">
      <div class="col-8">
        <img src="/assets/logo.svg" class="logo-splash"/>
      </div>
    </div>
  </div>
  @if (step == 'SignIn') {
    <h4 class="text-center mb-3">{{ "Sign In" | localize }}</h4>
    <div class="card">
      <div class="card-body">
        @if (error.message) {
          <div class="alert alert-{{ error.type }}" role="alert">
            {{ error.message | localize }}
          </div>
        }
        <form (ngSubmit)="signIn()" role="form">
          <div class="mb-3">
            <label class="small text-secondary" for="email">
              {{ "Email" | localize }}
            </label>
            <input [(ngModel)]="user.email" type="email" class="form-control form-input"
                   [ngClass]="{ 'is-invalid': !user.email && submitted }" id="email" name="email" required/>
            @if (!user.email && submitted) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
          <div class="mb-3">
            <label class="small text-secondary" for="password">
              {{ "Password" | localize }}
            </label>
            <input [(ngModel)]="user.password" type="password" class="form-control form-input"
                   [ngClass]="{ 'is-invalid': !user.password && submitted }" id="password" name="password" required/>
            @if (!user.password && submitted) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
          <button-spinner [type]="'submit'" [variant]="'primary'" [label]="'Sign In' | localize" [loading]="signingIn"
                          [classes]="'d-block w-100'"></button-spinner>
        </form>
      </div>
    </div>
  }
  @if (step == 'AuthenticationCode') {
    <h4 class="text-center mb-3">{{ "Two-factor authentication" | localize }}</h4>
    <div class="card mb-2">
      <div class="card-body">
        @if (error.message) {
          <div class="alert alert-{{ error.type }}" role="alert">
            {{ error.message | localize }}
          </div>
        }
        <form (ngSubmit)="verify2FA()" role="form">
          <div class="mb-3">
            <label class="small text-secondary" for="authenticationCode">
              {{ "Authentication code" | localize }}
            </label>
            <input [(ngModel)]="authenticationCode" type="text" class="form-control form-input"
                   [ngClass]="{ 'is-invalid': !authenticationCode && submitted }" id="authenticationCode"
                   name="authenticationCode" placeholder="XXXXXX" maxlength="6" required/>
            @if (!authenticationCode && submitted) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
          <button-spinner [type]="'submit'" [variant]="'primary'" [label]="'Verify' | localize" [loading]="signingIn"
                          [classes]="'d-block w-100'"></button-spinner>
        </form>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-sm btn-link" (click)="changeStep('RecoveryCode')">{{ "Use a recovery code" | localize }}
      </button>
    </div>
  }
  @if (step == 'RecoveryCode') {
    <h4 class="text-center">{{ "Use a recovery code" | localize }}</h4>
    <p
      class="text-center mb-3">{{ "If you are unable to sign in with an authentication code from your authenticator app, you can sign in using one of your recovery codes." | localize }}</p>
    <div class="card mb-2">
      <div class="card-body">
        @if (error.message) {
          <div class="alert alert-{{ error.type }}" role="alert">
            {{ error.message | localize }}
          </div>
        }
        <form (ngSubmit)="verifyRecoveryCode()" role="form">
          <div class="mb-3">
            <label class="small text-secondary" for="authenticationCode">
              {{ "Recovery code" | localize }}
            </label>
            <input [(ngModel)]="recoveryCode" type="text" class="form-control form-input"
                   [ngClass]="{ 'is-invalid': !recoveryCode && submitted }" id="recoveryCode" name="recoveryCode"
                   required/>
            @if (!recoveryCode && submitted) {
              <small class="form-text text-danger">
                {{ "This field is required." | localize }}
              </small>
            }
          </div>
          <button-spinner [type]="'submit'" [variant]="'primary'" [label]="'Verify' | localize" [loading]="signingIn"
                          [classes]="'d-block w-100'"></button-spinner>
        </form>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-sm btn-link"
              (click)="changeStep('AuthenticationCode')">{{ "Use an authentication code" | localize }}
      </button>
    </div>
  }
</div>
