<h4>{{ "Delete account" | localize }}</h4>
@if (alert) {
  <div class="alert alert-{{ alert.variant }}">
    {{ alert.message | localize }}
  </div>
}
<div class="card">
  <div class="card-body">
    <p>{{ "Deleting your account permanently removes all your account information and associated data. You will not be able to recover any data you have added." | localize }}</p>
    <div class="mb-3">
      <div class="form-check">
        <input [(ngModel)]="deleteAccountConfirmed" class="form-check-input" type="checkbox" id="deleteAccount">
        <label class="form-check-label" for="deleteAccount">{{ "Yes, I want to delete my account" | localize }}</label>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-danger position-relative" [disabled]="!deleteAccountConfirmed || saving"
              (click)="deleteUser()">
        <span [ngClass]="{ 'invisible': saving }">{{ "Delete account" | localize }}</span>
        @if (saving) {
          <span class="spinner-border spinner-border-sm btn-spinner" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">{{ "Loading" | localize }} …</span>
        }
      </button>
    </div>
  </div>
</div>
