<h4>{{ "Change password" | localize }}</h4>
@if (alert) {
  <div class="alert alert-{{ alert.variant }}">
    {{ alert.message | localize }}
  </div>
}
<div class="card">
  <div class="card-body">
    <form (ngSubmit)="changePassword()" role="form">
      <div class="mb-3">
        <label class="small text-secondary" for="newPassword">
          {{ "New password" | localize }}
        </label>
        <input [(ngModel)]="password" type="password" class="form-control form-input"
               [ngClass]="{ 'is-invalid': !password && submitted }" id="newPassword" name="newPassword"/>
        @if (!password && submitted) {
          <small class="form-text text-danger">
            {{ "This field is required." | localize }}
          </small>
        }
      </div>
      <div class="mb-3">
        <label class="small text-secondary" for="confirmNewPassword">
          {{ "Confirm new password" | localize }}
        </label>
        <input [(ngModel)]="confirmPassword" type="password" class="form-control form-input"
               [ngClass]="{ 'is-invalid': !confirmPassword && submitted }" id="confirmNewPassword"
               name="confirmNewPassword"/>
        @if (!confirmPassword && submitted) {
          <small class="form-text text-danger">
            {{ "This field is required." | localize }}
          </small>
        }
      </div>
      <div class="text-end">
        <button-spinner [type]="'submit'" [variant]="'primary'" [label]="'Save' | localize"
                        [loading]="saving"></button-spinner>
      </div>
    </form>
  </div>
</div>
