<ng-container *ngIf="activityId">
  <div class="mb-3" *ngIf="!loading">
    <div class="row justify-content-end">
      <div class="col text-start">
        <h3>{{ "Edit activity" | localize}}</h3>
        <a routerLink="/activity/{{ activityId }}">
          <i class="fas fa-arrow-left me-2"></i>
          <span>{{ "Back to activity" | localize}}</span>
        </a>
      </div>
    </div>
  </div>
  <app-activity-form [activity]="activity" [alert]="alert" (loaded)="onLoaded()" (saveActivity)="updateActivity($event)"></app-activity-form>
</ng-container>
<ng-container *ngIf="!retrievalError && !activityId">
  <div class="text-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">{{ "Loading" | localize }} …</span>
    </div>
  </div>
</ng-container>
<div *ngIf="retrievalError" class="text-secondary text-center">
  <p class="my-3">{{ retrievalError | localize}}</p>
</div>